<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog/static/styles.css">
    <title>Feed the Mind</title>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ['$', '$'],        // enable single-dollar
            ['\\(', '\\)']     // keep \(…\) as well
          ],
          // (optional) prevent conflict with $$$ display math:
          displayMath: [['$$','$$']]
        }
      };
    </script>
     <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      id="MathJax-script"
      async>
    </script>
</head>
<body style="height: 100vh; ">

    <nav style="background-color: #f8f9fa; padding: 10px; display: flex;">
        <ul style="list-style-type: none; margin: 0; padding: 0; display: flex;">
            <li style="margin-right: 20px;"><a href="/">Home</a></li>
            <li style="margin-right: 20px;"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    {% block header %}
    {% endblock %}

    <main style="padding: 20px; height: calc(100vh - 60px); overflow-y: auto;">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>
    
</body>
</html>
